:root{
--bg:#0f172a;
--card:#1e293b;
--text:#ffffff;
--muted:#94a3b8;
--accent:#38bdf8;
}

.light{
--bg:#f8fafc;
--card:#ffffff;
--text:#0f172a;
--muted:#64748b;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:var(--bg);
color:var(--text);
font-family:Arial,sans-serif;
padding-bottom:80px;
transition:.3s;
}

.topbar{
padding:20px;
text-align:center;
}

.page{
display:none;
padding:15px;
}

.page.active{
display:block;
}

.card{
background:var(--card);
padding:20px;
border-radius:20px;
margin-bottom:20px;
}

label{
display:block;
margin-top:12px;
margin-bottom:5px;
}

input{
width:100%;
padding:12px;
border:none;
border-radius:12px;
}

button{
margin-top:15px;
padding:12px;
width:100%;
border:none;
border-radius:12px;
cursor:pointer;
}

.summary-card{
background:linear-gradient(
135deg,
#0284c7,
#06b6d4
);
padding:20px;
border-radius:20px;
text-align:center;
}

.summary-card h1{
font-size:40px;
}

.history-item{
background:var(--card);
padding:15px;
margin-bottom:10px;
border-radius:12px;
}

.bottom-nav{
position:fixed;
bottom:0;
left:0;
right:0;
height:70px;

background:var(--card);

display:flex;
justify-content:space-around;
align-items:center;
}

.bottom-nav button{
background:none;
color:var(--text);
margin:0;
width:auto;
}

.bottom-nav span{
display:block;
font-size:12px;
}

.dashboard-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:20px;
}

.stat-card{
background:var(--card);
padding:20px;
border-radius:16px;
text-align:center;
}

.stat-card h3{
font-size:14px;
margin-bottom:10px;
}

.stat-card p{
font-size:22px;
font-weight:bold;
}

.chart-card{
background:var(--card);
padding:20px;
border-radius:16px;
}

canvas{
width:100% !important;
height:300px !important;
}